body {
    background-color: #2b54ab;
}
h1 {
    color: white;
}
img {
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
img:hover {
    border-style: dashed;
    border-color: yellow;
}
a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}
#main-nav {
    background-color: black;
    text-align: center;
    padding: 10px;
}
#main-nav a {
    font-size: 24px;
    color: yellow;
    margin: 20px;
}
#main-nav a:hover {
    text-decoration: underline;
    color: white;
}