body {
    background-color: #2b54ab;
}
h1 {
    color: white;
}
img {
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}